{% extends "base.html" %}

{% block content %}
<h2>Лабораторна робота №1</h2>


<div class="panel">
    <h3>Ролі</h3>
    <p><strong>Адміністратор</strong> може створювати, переглядати, редагувати та видаляти книги.</p>
    <p><strong>Користувач</strong> може переглядати книги та оформлювати позику доступної книги.</p>
</div>

<div class="panel">
    <h3>Сутності бази даних</h3>
    <ul>
        <li>User — користувач системи</li>
        <li>Author — автор книги</li>
        <li>Book — книга</li>
        <li>Loan — позика книги</li>
    </ul>
</div>
{% endblock %}
